html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
img { border: 0px; }
svg:not(:root) { overflow: hidden; }
* { box-sizing: border-box; }
html { height: 100%; }
body { margin: 0px; min-height: 100%; background-color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: rgb(51, 51, 51); }
img { max-width: 100%; vertical-align: middle; display: inline-block; }
.w-inline-block { max-width: 100%; display: inline-block; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; margin-bottom: 10px; }
h2 { font-size: 32px; line-height: 36px; margin-top: 20px; }
p { margin-top: 0px; margin-bottom: 10px; }
.w-container { margin-left: auto; margin-right: auto; max-width: 940px; }
:root { --color-brand--secondary: #1e1e1e; --color-neutral--white: white; --color-neutral--grey: #f7f7f7; --color-brand--primary: #584efe; --color-neutral--black: black; --color-neutral--transparent: transparent; --color-brand--tertiary: #eb1362; --color-brand--alternative: #1e4aa2; --color-brand--success: #45dc84; --color-brand--error: #eb1362; }
.w-layout-blockcontainer { max-width: 940px; margin-left: auto; margin-right: auto; display: block; }
body { color: var(--color-brand--secondary); font-family: Dmsans, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 1.44em; }
h2 { margin-top: 0px; margin-bottom: 0px; font-size: clamp(2rem, 1.5455rem + 1.9394vw, 3rem); font-weight: 700; line-height: 1.2em; }
p { margin-bottom: 0px; }
a { text-decoration: none; }
.padding-global { padding-left: 15px; padding-right: 15px; }
.base-container { width: 100%; max-width: 1140px; margin-left: auto; margin-right: auto; }
.padding-bottom-120px { padding-bottom: 100px; }
.discover-fintech-heading-wrap { text-align: center; max-width: 713px; margin-left: auto; margin-right: auto; }
.margin-bottom-24px { margin-bottom: 24px; }
.margin-bottom-48px { margin-bottom: 48px; }
.dashboard-image-wrapper { border-radius: 24px; position: relative; overflow: hidden; }
.overly-wrapper { background-color: rgba(27, 37, 89, 0.26); border-radius: 24px; position: absolute; inset: 0%; }
.play-icon-wrapper { z-index: 2; justify-content: center; align-items: center; width: 100%; height: 100%; display: flex; position: absolute; inset: 0%; }
.lightboc-link { background-color: rgb(255, 255, 255); border-radius: 100%; justify-content: center; align-items: center; width: 100px; height: 100px; display: flex; box-shadow: rgba(88, 78, 254, 0.3) 10px 15px 44px; }
.play-icon { width: 26px; height: 20px; }
.round-counter-box { gap: 16px; flex-flow: column; justify-content: flex-start; align-items: center; display: flex; }
.black-des { width: 100%; line-height: 1.44em; }
.counter-text { justify-content: center; align-items: center; display: flex; }
.counter-wrapper { grid-template-rows: auto; grid-template-columns: 1fr 1fr 1fr 1fr; grid-auto-columns: 1fr; justify-content: space-between; display: flex; }
.counter-k { height: 50px; overflow: hidden; }
.count-text { color: var(--color-brand--primary); text-align: center; font-size: 60px; font-weight: 700; line-height: 0.96em; }
.counter-col { height: 52px; overflow: hidden; }