# Node.js / Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/

# PHP / Backend
/backend/vendor/
/backend/storage/*
!/backend/storage/.gitignore
/backend/.env

# Logs
/logs/
/*.log

# System
.DS_Store
.env
